:root {
  --bg-header-olor:#5964E0;
  --bg-content-color:#19202D;
  --text-color:#6E8098;
  --bg-color: #fff;
  --title-color: #19202D;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family:"Kumbh Sans", "Arial", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */

.header {
  background-color: var(--bg-header-olor);
  border-bottom-left-radius: 100px;
}

.header-container {
  display: flex;
  padding-top: 65px;
  padding-bottom: 65px;
  justify-content: space-between;
  align-items: center;
}

.header-icon-link {
  display: flex;
  margin-right: 10px;
}

.header-icon-img {
  width: 115px;
  height: 32px;
}

.wrapp {
  display: flex;
  align-items: center;
}

.checbox {
  display: flex;
  width: 48px;
  height: 24px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 5px;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
}

.dark-more-label,
.light-more-label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

.dark-more:checked ~ .checbox .retangle {
  margin-left: 24px;
}

.dark-more:checked ~ .checbox .light-more-label,
.light-more:checked ~ .checbox .dark-more-label {
  z-index: 5;
}

.visually-hidden{
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.retangle {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--bg-header-olor);
}
